on early-boot
    start comp-set

on emmc-fs:
    mount ext4 /dev/block/mmcblk0p12 /system ro remount barrier=1

service comp-set /system/bin/sh /system/etc/init.qcom.composition_type.sh
    user root
    critical
    disabled
    oneshot

service wlan_tool /system/bin/wlan_tool
    user root
    group wifi system net_admin inet shell
    oneshot

on property:sys.radio.shutdown=true
    write  /sys/devices/platform/rs300000a7.65536/force_sync 1

